# exclude everything except directory foo/bar
#    /*
#    !/foo
#    /foo/*
#    !/foo/bar
#
#git add --dry-run -A
#git add --dry-run --all
#git add -n -A
#git add -nA

#vim tmp file
/**/.*
#jota text backup file
/**/*~
!/.git
!/.gitignore
#python cache
/**/__pycache__

#external
/**/_ignore__unzip
/**/_ignore__build

#internal tmp output
/**/_ignore__tmp


/笔顺码分解/
/txt/script/手选冫近似对称字牜一龥区.txt


/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺深一.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺精深.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫加链扌.无缺深一.le12321.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺.le12021.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺.le12021.out.txt.tar.lzma
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺深一.le12321.out.txt
#/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺深一.le12321.out.txt.tar.lzma
#/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺精深.le2233.out.txt.tar.lzma
#
#/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫加链扌.无缺精深.lt12509-until_fst_failure.out.txt
#/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫加链扌.无缺精深.lt12509-until_fst_failure.out.txt.tar.lzma
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺精深.lt12509-until_fst_failure.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺精深.lt12509-until_fst_failure.out.txt.tar.lzma
#
/txt/script/枚举冫双幂方和型素数.py.out/txt/
/txt/script/枚举冫双幂方和型素数.py.out/lzma/枚举冫双幂方和型素数.py.decompositions_lt_2pow32.out.txt.tar.lzma
/txt/script/枚举冫双幂方和型素数.py.out/lzma/枚举冫双幂方和型素数.py.decompositions_lt_2pow28.out.txt.tar.lzma
/txt/script/枚举冫双幂方和型素数.py.out/txt/枚举冫双幂方和型素数.py.compact.decompositions_lt_2pow32.out.txt


/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫加链扌.无缺精深.lt12509-until_fst_failure.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺精深.lt12509-until_fst_failure.out.txt.tar.lzma
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..另档冫双点易来简并态纟简并记录纟递归婪溟链牜按需计算扌.ver2.part1.1-2076.test-out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..另档冫尾六表纟简并记录纟递归婪溟链扌.ver2.part-1-2-3-4.1-16016.extract-out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..另档冫尾六表纟简并记录纟递归婪溟链扌.ver2.part-1-2-3-4.1-16016.extract-out.txt.tar.lzma
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver1.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver1.part-1-2-3-4.1-16016.out.txt.tar.lzma
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.asis-part0011.35036-_.topdown-last_leap-multi.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.asis-part0012.38039-_lt50215首败点.topdown-last_leap-multi.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.asis-part0013-as-12-2.50215-62001.topdown-last_leap-multi-miss_ok.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.asis-part0013.39364-63795.topdown-last_leap-multi.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.asis-part0014-as-12-3.62002-70070.topdown-last_leap-multi-miss_ok-skip_holes.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.asis-part0014-as-13-2.63796-65564.topdown-last_leap-multi-skip_holes.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part-1-2-3-4.1-16016.out.txt.tar.lzma
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0001.1-6017.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0002.6018-9192.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0003.9193-13013.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0004.13014-16016.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0005.16017-20020.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0006.20021-23023.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0007.23024-26026.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0008.26027-29029.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0009.29030-32032.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0010.32033-35035.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0011.35036-38038.bottomup.out.txt
/txt/script/min_add_ver5__mixed_recursive_greedy_zpow_addition_chain.py..枚举生成冫文件后续简并记录纟递归婪溟链扌.ver2.part0012.38039-39363.topdown.out.txt

/txt/script/对称多项式讠基表达.py..枚举冫瓧称重式辻础称组式巛序列纟自然数牜整数拆分牜缓存文件扌.le20.未曾数值校验.out.txt

