# exclude everything except directory foo/bar
#    /*
#    !/foo
#    /foo/*
#    !/foo/bar
#
#git add --dry-run -A
#git add --dry-run --all
#git add -n -A
#git add -nA

#vim tmp file
/**/.*
#jota text backup file
/**/*~
!/.git
!/.gitignore
#python cache
/**/__pycache__

/笔顺码分解/
/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺深一.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺精深.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫加链扌.无缺深一.le12321.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺.le12021.out.txt
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺.le12021.out.txt.tar.lzma
/txt/script/min_add_ver4__pseudo_addition_chain.py.._提取另档冫次大数集扌.无缺深一.le12321.out.txt
#/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺深一.le12321.out.txt.tar.lzma
#/txt/script/min_add_ver4__pseudo_addition_chain.py..枚举冫相关信息纟最短短程加链牜简并态算法扌.RT.无缺精深.le2233.out.txt.tar.lzma
#
/txt/script/枚举冫双幂方和型素数.py.out/txt/
/txt/script/枚举冫双幂方和型素数.py.out/lzma/枚举冫双幂方和型素数.py.decompositions_lt_2pow32.out.txt.tar.lzma
/txt/script/枚举冫双幂方和型素数.py.out/lzma/枚举冫双幂方和型素数.py.decompositions_lt_2pow28.out.txt.tar.lzma
/txt/script/枚举冫双幂方和型素数.py.out/txt/枚举冫双幂方和型素数.py.compact.decompositions_lt_2pow32.out.txt

