/*
body:before
{
	content: "This is a preliminary page, for testing only. Links to scripts (sources and downloads) aren't available. Please navigate back to the root of www.robvanderwoude.com if you're looking for scripting related information.";
	color: blue;
	font-weight: bold;
	font-size: 150%;
}
*/

body
{
	background-image: none;
	background-color: white;
	color: rgb( 0, 0, 128) ;
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 80px 0 0 235px;
	padding: 0;
}

a {
	word-wrap: normal;
}

a:hover
{
	color: rgb( 255, 0, 0 );
}

a:link
{
	color: rgb( 0, 0, 255 );
}

a:visited
{
	color: rgb( 128, 0, 128 );
}

blockquote
{
	color: rgb(0, 0, 0);
	margin-left: 5%;
}

/* Code style (green Courier) */
code
{
	font-family: Courier New, Courier, sans-serif;
	color: rgb(0, 89, 0);
}

/* Output style (black Courier) */
code.Output, .Output
{
	color: black;
}

code a:visited, .Code a:visited, a:visited.Code
{
	color: rgb(0, 89, 0);
}

code a:link, .Code a:link, a:link.Code
{
	color: rgb(0, 89, 0);
}

code.Output a:visited, .Output a:visited, a:visited.Output
{
	color: black;
}

code.Output a:link, .Output a:link, a:link.Output
{
	color: black;
}

/* Layout for Quote of the Day */
div.Aphorism
{
	text-align: center;
	background-color: rgb(246,250,255);
	border: 2px solid darkblue;
	margin: 15px 100px 15px 100px;
	padding: 10px 20px 10px 20px;
}

div.Center
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.Right
{
	text-align: right;
	display: block;
	margin-left: auto;
	margin-right: 0;
}

div#Headroom
{
	display: none;
}

/* Definition Lists for Command Examples */
dl.Examples dt
{
	padding-left: 20px;
}
dl.Examples dd
{
	font-family: Courier New, Courier, sans-serif;
	color: rgb(0, 89, 0);
	padding: 0 0 20px 40px;
}

/* Definition Lists for Requirements */
dl.Requirements dt
{
	font-weight: bold;
	padding-left: 20px;
}

dl.Requirements dd
{
	padding: 0 0 20px 40px;
}

/* Definition Lists for Command Syntaxes */
dl.Syntax dt
{
	font-family: Courier New, Courier, sans-serif;
	color: #005900;
	padding-left: 20px;
}

dl.Syntax dd
{
	padding: 0 0 20px 40px;
}

h1
{
	font-size: 18pt;
	page-break-after: avoid;
	text-indent: 10%;
	margin: 25px;
}

h2
{
	font-size: 16pt;
	font-style: italic;
	page-break-after: avoid;
	text-indent: 10%;
	margin: 50px 20px 20px 20px;
}

h3
{
	font-size: 14pt;
	page-break-after: avoid;
	text-indent: 10%;
	margin: 20px;
}

h4
{
	font-size: 12pt;
	page-break-after: avoid;
	font-weight: bold;
	text-indent: 10%;
	margin: 15px;
}

h5
{
	font-size: 12pt;
	font-style: italic;
	page-break-after: avoid;
	font-weight: bold;
	margin: 25px 0 15px 20px;
}

.Center h1, h1.Center, .Center h2, h2.Center, .Center h3, h3.Center, .Center h4, h4.Center, .Center h5, h5.Center
{
	margin-left: 0;
	text-indent: 0;
}

hr.Foot
{
	clear: both;
	height: 1px;
	margin-left: 3%;
	padding: 0;
	width: 94%;
}

iframe#aStore
{
	border: none;
	height: 2000px;
	max-height: 100%;
	max-width: 80%;
	overflow: scroll;
	width: 1000px;
}

img
{
	border-style: none;
	border-width: 0;
}

li
{
	padding-top: 5px;
	padding-bottom: 5px;
}

li.Blank
{
	list-style-type: none;
}

li.Empty
{
	list-style-type: none;
}

li.Left
{
	position: relative;
	margin-bottom: 0;
	list-style-type: none;
}

li.Narrow {
	display: none;
}

li.Right40
{
	position: relative;
	left: 40%;
	width: 60%;
	top: -2em;
	margin-bottom: -2em;
	list-style-type: none;
}

li.Wide {
	display: block;
}

pre
{
	page-break-inside: avoid;
}

pre.Code
{
	color: rgb(0, 89, 0);

}

pre.Output
{
	color: black;
}

/* Normal table layout */
table
{
	page-break-inside: avoid;
	font-size: inherit;
}

td
{
	padding: 5px;
}

th
{
	text-align: center;
	padding: 5px;
}

td.Hide4SmallScreen, th.Hide4SmallScreen {
	display: table-cell;
	visibility: visible;
}

/* Alphabet links for long lists of sample scripts */
table.Alphabet
{
	border-style: none;
	border-collapse: collapse;
}

table.Alphabet td
{
	border-style: none solid none solid;
	border-width: 1px;
	border-color: gray;
	text-align: center;
}

table.Alphabet td.Grey
{
	border-style: none solid none solid;
	border-width: 1px;
	border-color: gray;
	text-align: center;
	color: gray;
}

/* Layout for Books pages */
table.Books
{
	border-style: none;
}

table.Books thead, table.Books .thead
{
	border-style: none;
	background-color: #d0d0d0;
	color: #005000;
	text-align: center;
	font-size: 120%;
	page-break-after: avoid;
	font-weight: bold;
}

table.Books thead th, table.Books .thead th
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

table.Books th.Header
{
	background-color: #d0d0d0;
	color: #005000;
	text-align: center;
	font-size: 160%;
	page-break-after: avoid;
	font-weight: bold;
}

table.Books tbody, table.Books .tbody
{
	border-style: none;
	background-color: #fffff0;
}

table.Books tbody td, table.Books tbody th, table.Books .tbody td, table.Books .tbody th
{
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d0;
	border-collapse: collapse;
}

table.Books tbody td.Empty, table.Books .tbody td.Empty
{
	border-style: none;
	background-color: #ffffff;
}

table.Books tbody td.Title, table.Books .tbody td.Title
{
	font-weight: bold;
	text-align: center;
}

/* Layout for Batch Commands page */
table.Commands tbody
{
	margin: 5px;
}

table.Commands thead
{
	background-color: #c8c8c8;
	margin: 5px;
}

table.Commands tr
{
	vertical-align: middle;
}

table.Commands td.Code
{
	font-family: Courier New, Courier, sans-serif;
	color: #005900;
	white-space: nowrap;
	text-align: left;
}

table.Commands td.Output
{
	font-family: Courier New, Courier, sans-serif;
	color: black;
	white-space: nowrap;
	text-align: left;
}

table.Commands td.Code a, table.Commands td.Code a:link, table.Commands td.Code a:visited, table.Commands td.Output a, table.Commands td.Output a:link, table.Commands td.Output a:visited
{
	color: #005900;
	white-space: nowrap;
}

/* Layout for lists of tools and downloads */
table.Downloads
{
	border-style: none;
}

table.Downloads thead, table.Downloads .thead
{
	border-style: none;
	background-color: #d0ffd0;
	font-size: 120%;
}

table.Downloads thead th, table.Downloads .thead th
{
	border: 1px solid black;
}

table.Downloads th.Header
{
	font-size: 160%;
}

table.Downloads tbody, table.Downloads .tbody
{
	text-align: left;
	background-color: rgb(255,255,208);
	margin: 5px;
}

table.Downloads tbody td, table.Downloads tbody th, table.Downloads .tbody td, table.Downloads .tbody th
{
	border: 1px solid #d0d0d0;
	border-collapse: collapse;
}

table.Downloads tr
{
	vertical-align: middle;
}

table.Downloads tr.Narrow {
	display: none;
	visibility: collapse;
}

table.Downloads tr.Wide {
	display: table-row;
	visibility: visible;
}

tbody tr td.Empty
{
	background-color: #ffffff;
	border-style: none;
}

col#Product, col#Description, col#Function, col#Manufacturer
{
	text-align: left;
}

col#Download,col#Buy
{
	text-align: center;
}

/* Layout for lists of sample scripts */
table.Examples tbody
{
	background-color: #f0f0f0;
	margin: 5px;
	text-align: left;
}

table.Examples tbody td, table.Examples tbody th
{
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d0;
	border-collapse: collapse;
}

table.Examples tbody th.Left
{
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d0;
	border-collapse: collapse;
	text-align: left;
}

table.Examples tbody td.Empty
{
	border-style: none;
	background-color: #ffffff;
	border-collapse: collapse;
}

table.Examples tbody td.NumValues
{
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d0;
	border-collapse: collapse;
	text-align: right;
}

table.Examples tbody td.StringValues
{
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d0;
	border-collapse: collapse;
	text-align: left;
}

table.Examples thead, table.Examples td.thead, table.Examples th.thead
{
	border-style: none;
	background-color: #a0a0ff;
	font-size: 120%;
}

table.Examples thead th, table.Examples th.thead
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

table.Examples th.Header
{
	font-size: 160%;
}

table.Examples tr
{
	vertical-align: middle;
}

table.Examples tr.Top, table tr.Top
{
	vertical-align: top;
}

/* Style for Download Button on HTA pages */
table.HTADownload
{
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d0;
	background-color: #f0f0f0;
}

table.HTADownload td
{
	padding: 20px;
	font-size: 12pt;
}

table.HTADownload th
{
	padding: 20px;
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
}

table.Changes td, table.Changes th
{
	text-align: left;
	vertical-align: top;
	padding: 0 25px 10px 0;
}

table.Changes td ul
{
	margin-top: 0;
}

table.Issues td
{
	border: 1px solid silver;
	vertical-align: top;
}

table.Issues th
{
	background-color: silver;
	/*
	border: 1px solid silver;
	*/
	text-align: left;
}

/* Layout for What's New page */
table.LastModified
{
	border-style: none;
}

table.LastModified th
{
	background-color: rgb(240, 240, 255);
	text-align: left;
	padding: 5px 20px 5px 10px;
}

table.LastModified td
{
	padding: 5px 20px 5px 10px;
}

table.LastModified td.Even
{
	background-color: rgb(240, 240, 255);
	padding: 5px 20px 5px 10px;
}

/* Tables for FOR/F page */
table.Output
{
	border-style: none;
	border-collapse: collapse;
}

table.Output td
{
	color: black;
	padding: 0px;
}

table.Source
{
	border-style: none;
	border-collapse: collapse;
}

table.Source td.Code
{
	page-break-inside: avoid;
	border-style: solid;
	border-width: 1px;
	border-color: #004000;
	background-color: #ffffd0;
	font-family: Courier New, Courier, sans-serif;
	color: #005900;
	padding: 15px;
	white-space: nowrap;
	text-align: left;
}

table.Source td.Output
{
	page-break-inside: avoid;
	border-style: solid;
	border-width: 1px;
	border-color: #004000;
	background-color: #ffffd0;
	font-family: Courier New, Courier, sans-serif;
	color: black;
	padding: 15px;
	white-space: nowrap;
	text-align: left;
}

/* Tables for VBScript Scripting Techniques "menu path tracking" */
table.MenuTrack
{
	border-style: none;
	border-collapse: collapse;
}

table.MenuTrack tr
{
	vertical-align: top;
}

table.MenuTrack td
{
	padding: 0 15px 0 0;
	font-weight: bold;
}

/* Tables for command syntaxes */
table.Syntax
{
	border-style: none;
}

table.Syntax tr
{
	vertical-align: top;
}

table.Syntax td.Code
{
	font-family: Courier New, Courier, sans-serif;
	color: #005900;
	padding: 5px 15px 5px 0px;
}

table.Syntax td.CodeMagenta
{
	font-family: Courier New, Courier, sans-serif;
	color: magenta;
	padding: 5px 15px 5px 0px;
}

table.Syntax td.CodeRed
{
	font-family: Courier New, Courier, sans-serif;
	color: red;
	padding: 5px 15px 5px 0px;
}

/* Tables for news page */
table.News tr
{
	vertical-align: top;
	padding-bottom: 35px;
}

td.Center
{
	text-align: center;
}

td.Right
{
	text-align: right;
}

/* Style for notes */
td.Hide4Mobile, th.Hide4Mobile {
	display: table-cell;
	visibility: visible;
}

td.Note
{
	vertical-align: top;
	padding-left: 0;
	padding-right: 5px;
	font-weight: bold;
	white-space: nowrap;
}

tr.Show4Mobile {
	display: none;
	visibility: collapse;
}

.Black
{
	color: black;
}

.Blink
{
	text-decoration: blink;
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}

.Bodytext
{
	color: rgb( 0, 0, 128) ;
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Bold
{
	font-weight: bold;
}

.Bottom
{
	vertical-align: bottom;
}

.Center
{
	text-align: center;
}

.Code
{
	font-family: Courier New, Courier, sans-serif;
	color: rgb(0, 89, 0);
}

.DoPrintHiddenBlock
{
	display: none;
}

.Empty
{
	border-style: none;
	background-color: #ffffff;
}

.Fullwidth
{
	width: 100%;
}

.Green
{
	color: green;
}

/* Highlighted text */
.HighlightGrey
{
	background-color: #e0e0e0;
}

.HighlightYellow
{
	background-color: yellow;
}

.Indent
{
	text-indent: 2em;

}

.Italic
{
	font-style: italic;
}

.Left
{
	text-align: left;
}

.Magenta
{
	color: magenta;
}

.Middle
{
	vertical-align: middle;
}

.Nowrap
{
	white-space: nowrap;
}

.Orange
{
	color: orange;
}

.Red
{
	color: red;
}

.Right
{
	text-align: right;
}

.SmallText
{
	font-size: 80%;
}

.Strike
{
	text-decoration: line-through;
}

.Top
{
	vertical-align: top;
}

.Underline
{
	text-decoration: underline;
}

.White
{
	color: white;
}

.Yellow
{
	color: yellow;
}

/* Old-fashioned green/black terminal output style */
.Terminal
{
	background-color: #002000;
	color: #00a000;
	font-size: 12pt;
	font-family: Courier New, Courier, sans-serif;
	padding: 5px;
}

/* Old-fashioned amber/black terminal output style */
.Terminal.Amber
{
	background-color: #202000;
	color: #ffa000;
	font-size: 12pt;
	font-family: Courier New, Courier, sans-serif;
	padding: 5px;
}

/* Screen only */
@media screen
{
	.DontDisplay
	{
		display: none;
		visibility: hidden;
	}
}

@media screen and (max-width: 1024px) {
	td.Hide4SmallScreen, th.Hide4SmallScreen {
		display: none;
		visibility: collapse;
	}	
}

/* Small screens (e.g. mobile devices) */
@media screen and (max-width: 800px) {
	body {
		margin: 3px;
	}

	a {
		padding: 6px 8px 6px 0;
		display: inline-block;
	}

	div#Headroom {
		display: block;
		height: 61px;
	}

	dl.Examples dt, dl.Examples dd, dl.Requirements dt, dl.Requirements dd, dl.Syntax dt, dl.Syntax dd, dt, dd {
		padding-left: 0;
	}

	iframe#aStore {
		max-height: 500%;
		max-width: 100%;
		width: 800px;
	}

	li.Narrow {
		display: block;
	}

	li.Wide {
		display: none;
	}

	table.Commands td.Code, table.Commands td.Output, table.Source td.Code, table.Source td.Output {
		white-space: normal;
	}

	table.Commands td.Code a, table.Commands td.Code a:link, table.Commands td.Code a:visited, table.Commands td.Output a, table.Commands td.Output a:link, table.Commands td.Output a:visited {
		white-space: normal;
	}

	table.Downloads th.Header
	{
		font-size: 120%;
	}

	table.Downloads tr.Narrow {
		display: table-row;
		visibility: visible;
	}
	
	table.Downloads tr.Wide {
		display: none;
		visibility: collapse;
	}
	
	td.Hide4Mobile, th.Hide4Mobile {
		display: none;
		visibility: collapse;
	}
	
	td.Note {
		white-space: normal;
	}

	tr.Show4Mobile {
		display: table-row;
		visibility: visible;
	}

	.NoMobile {
		display: none;
	}
	
	.Nowrap {
		white-space: normal;
	}
}

/* Printing */
@media print
{
	@page port {size: portrait;}
	@page land {size: landscape;}

	.Portrait
	{
		page: port;
	}

	.Landscape
	{
		page: land;
	}

	body:before
	{
		content: "";
	}

	body
	{
		background-color: white;
		color: black;
		font-size: 10pt;
		font-family: Times New Roman, TimesNR, Times, serif;
		margin: 0px 0px 0px 0px;
		background-color: rgb(255, 255, 255);
		background-image: none;
	}

	a, a:link, a:visited, a:hover
	{
		color: rgb(0, 0, 255);
		text-decoration: underline;
	}

	a[href^="http://"]:after
	{
		color: rgb(0, 0, 255);
		text-decoration: none;
		content: " (" attr(href) ")";
		font-size: 8pt;
	}

	a[href^="ftp://"]:after
	{
		color: rgb(0, 0, 255);
		text-decoration: none;
		content: " (" attr(href) ")";
		font-size: 8pt;
	}

/*
	a[href^="mailto:"]:after
	{
		color: rgb(0, 0, 255);
		text-decoration: none;
		content: " (" attr(href) ")";
		font-size: 8pt;
	}
*/

	a[href^="news:"]:after
	{
		color: rgb(0, 0, 255);
		text-decoration: none;
		content: " (" attr(href) ")";
		font-size: 8pt;
	}

	table.Examples a:after
	{
		content: none;
	}

	noscript
	{
		display: none;
		visibility: hidden;
	}

	pre code
	{
		page-break-inside: avoid;
	}

	table.Downloads, table.Examples
	{
		page: land;
	}

	table.LastModified
	{
		border-style: none;
	}

	table.LastModified th
	{
		background-color: white;
		text-align: left;
	}

	table.LastModified td.Even
	{
		background-color: white;
	}

	p
	{
		orphans: 3;
		page-break-inside: avoid;
		widows: 3;
	}

	.Bodytext
	{
			color: black;
			font-size: 10pt;
			font-family: Times New Roman, TimesNR, Times, serif;
	}

	.DontPrint
	{
		display: none;
		visibility: hidden;
	}

	#DontPrint
	{
		display: none;
		visibility: hidden;
	}

	.DoPrintHiddenBlock
	{
		display: block;
		visibility: visible;
	}

	/* Highlighted text */
	.HighlightGrey
	{
		font-weight: bold;
	}

	.HighlightYellow
	{
		text-decoration: underline overline line-through;
	}

}
