div#logocontainer {
	background-color: #2e5492;
	color: white;
	float: left;
	font-size: 150%;
	height: 62px;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 998; 
}

div#logocontainer img {
	float: left;
	left: 220px;
	position: absolute;
	top: 0;
	z-index: 999;
}

div#menucontainer {
	background-color: #4c4c4c;
	float: left;
	height: 62px;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top:  0;
	width: 220px;
	z-index: 9999;
}

div#titlecontainer {
	display: none;
}

ul#menu li {
	vertical-align: text-top;
}

ul#menu li a {
	vertical-align: baseline;
	word-wrap: normal;
}

/* **************************************************************************** */
/* ****                                                                    **** */
/* **** When JavaScript is enabled, menu will be replaced by SlickNav menu **** */
/* ****                                                                    **** */
/* **************************************************************************** */
.js #menu {
	display: none;
}

.js div#nojsmenuhead {
	display: none;
}

.js li > a img.menuicon {
	vertical-align: middle;
}

.js img.menuicon {
	float: right;
	height: 16px;
	position: relative;
	right: 0;
	width: 16px;
}

.js .slicknav_menu {
	display: block;
}

/* **************************************************************************** */
/* ****                                                                    **** */
/* **** When JavaScript is disabled, hovering over submenus will open them **** */
/* ****                                                                    **** */
/* **************************************************************************** */
.no-js div#nojsmenuhead a {
	color: white;
	text-decoration: none;
}

.no-js ul#menu {
	background-color: #4c4c4c;
	color: white;
	margin-top: 62px;
	padding: 5px 15px 5px 15px;
}

.no-js ul#menu a {
	color: white;
	text-decoration: none;
}

.no-js ul#menu li {
	list-style: none;
}

.no-js ul#menu li ul {
	display: none;
}

.no-js div#nojsmenuhead {
	display: block;
}

.no-js ul#menu li#menu_languages:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_batchfiles:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_csharp:hover > ul {
	display: block;
}


.no-js ul#menu li#menu_kixtart:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_perl:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_powershell:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_regexp:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_rexx:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_vbscript:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_technologies:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_wmi:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_adsi:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_silentinstalls:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_books:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_tools:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_miscellaneous:hover > ul {
	display: block;
}

.no-js ul#menu li#menu_about:hover > ul {
	display: block;
}

.no-js #menu li, .no-js #menu li > a {
	width: 100%;
}

.no-js img.menuicon {
	float: right;
	height: 16px;
	position: relative;
	right: 10px;
	width: 16px;
}

@media screen and (max-width: 800px) {
	.no-js #menu > li, .no-js li.submenu {
		display: block;
		padding: 6px 8px 6px 0;
	}

	h1, h2, h3, h4 {
		text-align: center;
		text-indent: 0;
	}

	div.Aphorism {
		margin: 5px;
	}

	div#logocontainer {
		display: none;
	}

	div#menucontainer {
		clear: both;
		display: block;
		float: none;
		height: 62px;
		left: 0;
		top: 0;
		width: 100%
	}

	div#titlecontainer {
		clear: both;
		display: block;
		float: none;
		/* margin-top: 68px; */
	}

	.js div#titlecontainer {
		margin-top: 68px;
	}

	.no-js div#titlecontainer {
		margin-top: 512px;
	}
}
